h1 {
    background-color: powderblue;
}
p{
    background-color: greenyellow;
}
#ptag{
    text-align: center;
    color: red;
}
.tagp{
    text-align: center;
    color: blue;
}
table.tagp{
    text-align: left;
    color: chartreuse;
}
/*universal selector*/
* {
    margin: 5px;
    padding: 5px;
}

/*grouping */
h2, h3 ,address{
    text-align: center;
    color: cadetblue;
    font-family: verdana;
}

#testStylingMultipleProps{
    background-color: aqua;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 100%;
    font-family: verdana;
}
#myDivStyle{
    margin: 30px;
    padding: 25px;
    color: green;
    background-color: brown;

}
#testDivimg{
    background-image: url('./download\ \(2\).png');
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: scroll;
    border: 5px solid rgb(113, 8, 109);
    border-radius: 25px;
    /* margin: 10px; */
    margin: 20px 20px 20px 20px;
    /* margin: top right bottom left; */
}
#divP{
    /* padding: 20px; */
    padding: 20px 20px 20px 20px;
}
#livep{
    padding: 20px 20px 20px 20px; 
}
#tryone{
    background-color: aliceblue url('./download\ \(2\).png') ;
}