h1 {
    background-color: powderblue;
}
p{
    background-color: greenyellow;
}
#ptag{
    text-align: center;
    color: red;
}
.tagp{
    text-align: center;
    color: blue;
}
table.tagp{
    text-align: left;
    color: chartreuse;
}
/*universal selector*/
* {
    margin: 5px;
    padding: 5px;
}

/*grouping */
h2, h3 ,address{
    text-align: center;
    color: cadetblue;
}

#testStylingMultipleProps{
    background-color: aqua;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 100%;
    font-family: verdana;
}
#myDivStyle{
    margin: 30px;
    padding: 25px;
    color: green;
    background-color: brown;
}